azure-identity==1.25.3
azure-monitor-query==2.0.0
Authlib==1.7.2
beautifulsoup4==4.15.0
bleach==6.4.0
celery==5.6.3
Django==5.2.16
django-auto-logout==0.5.1
django-dbbackup==5.3.0
django-extensions==4.1
django-markup==1.10
django-simple-history==3.13.0
google-genai==2.16.0
ldap3==2.9.1
lxml==6.1.1
Markdown==3.10.3
msal==1.37.0
mysqlclient==2.2.8
numpy==2.2.6
openai==2.52.0
python-gnupg==0.5.6
redis==8.1.0
requests==2.34.2
scipy==1.15.3
vt-py==0.22.0
