<div id="tabs_connectors">
    <ul>
        {% for connector in connectors %}
            <li><a href="#connector_{{ connector.id }}"
                hx-get="/connectors/selected-connector-settings/{{ connector.id }}/"
                hx-target="#connector_{{ connector.id }}"
                {% if forloop.first %}hx-trigger="load"{% endif %}>
                <span>{{ connector.name }}</span></a></li>
        {% endfor %}
    </ul>

    {% for connector in connectors %}
        <div id="connector_{{ connector.id }}"></div>
    {% endfor %}

</div>

<script type="text/javascript" nonce="jg6kl5z3v2">
	$(document).ready(function() {
        $( "#tabs_connectors" ).tabs().addClass( "ui-tabs-vertical ui-helper-clearfix" );
        $( "#tabs_connectors li" ).removeClass( "ui-corner-top" ).addClass( "ui-corner-left" );
	});
</script>
