<div class="connector-title">
    {{ connector.name }}
</div>
<div class="connector-description">
    {{ connector.description }}
</div>

{% if is_used %}
    <div class="alert alert-warning d-flex flex-row">
        <div class="padright20"><i class="fas fa-fw fa-exclamation-triangle mr-3 mt-1"></i></div>
        <div class="notification-message">
            You can't disable this connector because it is currently in use by one or more threat hunting analytics.
        </div>
    </div>
{% else %}
    <div class="container-switch-toggle">
        <span class="switch-status-label">Enable/disable connector: </span>
        <label class="switch">
        <input id="connector-enabled-{{ connector.id }}"
            type="checkbox"
            hx-get="/connectors/toggle-connector-enabled/{{ connector.id }}/"
            {% if connector.enabled %}checked{% endif %}>
        <span class="slider round"></span>
        </label>
    </div>
{% endif %}

<form method="post" id="connector-form-{{ connector.id }}" action="/connectors/selected-connector-settings/{{ connector.pk }}/" class="connector-form {% if connector.enabled %}visible{% else %}hidden{% endif %}">
    {{ formset.management_form }}
    {% if formset.total_form_count > 0 %}

        {% csrf_token %}
        {{ formset.management_form }}
        <table>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
            {% for conf_form in formset %}
                {{ conf_form.id }}
                <tr>
                    <td><label for="{{ conf_form.value.id_for_label }}" title="{{ conf_form.instance.description }}">{{ conf_form.instance.key }}</label></td>
                    <td><span>{{ conf_form.value }}</span>
                        {% if 'password-field' in conf_form.value.field.widget.attrs.class %}
                            <span class="toggle-eye"><i class="fa fa-eye-slash"></i></span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        <div id="connector-conf-submit"><button type="submit" class="button" name="save_changes" value="1">Save Changes</button></div>

    {% else %}
        <div class="alert alert-info d-flex flex-row">
            <div class="padright20"><i class="fas fa-fw fa-info-circle mr-3 mt-1"></i></div>
            <div class="notification-message">
                There are no settings for this connector.
            </div>
        </div>
    {% endif %}
</form>
<script src="/static/js/selected_connector_settings.js"></script>
