<html>
<head>
    <link rel="stylesheet" href="/static/css/connectors_conf.css" />
</head>
<body>

<div class="alert alert-info d-flex flex-row">
    <div class="padright20"><i class="fas fa-fw fa-info-circle mr-3 mt-1"></i></div>
    <div class="notification-message">
        {{ connector.description }}
    </div>
</div>

<form method="post" id="connector-form" action="/connectors/selected-connector-settings/{{ connector.pk }}/">
    {% csrf_token %}
    {{ formset.management_form }}
    <table>
        <tr>
            <th>Key</th>
            <th>Value</th>
        </tr>
        {% for conf_form in formset %}
            <tr>
            {{ conf_form.id }}
            {% for field in conf_form.visible_fields %}
                <td>
                {{ field }}
                </td>
            {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <div id="connector-conf-submit"><button type="submit" class="button" name="save_changes" value="1">Save Changes</button></div>
</form>

<html>
<head>
    <link rel="stylesheet" href="/static/css/connectors_conf.css" />
</head>
<body>
