{% extends "base.html" %}

{% block style %}
    <link rel="stylesheet" href="/static/css/list_analytics.css" />
{% endblock %}

{% block body %}
<h1>Repos</h1>

<p><a href="/repos/addrepo/" class="button">Add a new repo</a></p>
<table class="mitre">
    <tr>
        <th>Actions</th>
        <th>Name</th>
        <th>URL</th>
        <th>#Analytics</th>
        <th>#Valid</th>
        <th>#Errors</th>
        <th>Last Check</th>
        <th>Last Sync</th>
    </tr>
    {% for repo in repos %}
        <tr>
            <td class="aright">
                {% if "github.com/" in repo.url or "bitbucket.org/" in repo.url %}
                    <a href="/repos/syncrepo/{{ repo.id }}/check/" class="button">check</a>
                    <a href="/repos/syncreposelectanalytics/{{ repo.id }}/" class="button">sync</a>
                {% endif %}
                <a href="/repos/editrepo/{{ repo.id }}/" class="button">edit</a>
                <a href="/repos/deleterepo/{{ repo.id }}/" class="button">delete</a>
            </td>
            <td>{{ repo.name }}</td>
            <td><a href="{{ repo.url }}" target="_blank">{{ repo.url }}</a></td>
            <td class="aright">{% if repo.nb_analytics %}{{ repo.nb_analytics }}{% else %}-{% endif %}</td>
            <td class="aright">
                {% if repo.nb_analytics %}
                    {% if repo.nb_analytics_valid %}{{ repo.nb_analytics_valid }}{% else %}0{% endif %}
                {% else %}-{% endif %}
            </td>
            <td class="aright">
                {% if repo.nb_analytics %}
                    {% if repo.nb_analytics_errors %}{{ repo.nb_analytics_errors }}{% else %}0{% endif %}
                {% else %}-{% endif %}
            </td>
            <td>{% if repo.last_check_date %}{{ repo.last_check_date }}{% else %}-{% endif %}</td>
            <td>{% if repo.last_sync_date %}{{ repo.last_sync_date }}{% else %}-{% endif %}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
