{% extends "base.html" %}
{% load repos_extras %}

{% block style %}
    <link rel="stylesheet" href="/static/css/list_analytics.css" />
    <link rel="stylesheet" href="/static/jquery-ui/jquery-ui.min.css" />
    <link rel="stylesheet" href="/static/css/tabs.css" />
    <script src="/static/jquery/jquery.min.js"></script>
    <script src="/static/jquery-ui/jquery-ui.min.js"></script>
    <script src="/static/js/htmx.min.js"></script>
{% endblock %}

{% block body %}
<h1><a href="/repos/listrepos/">Repos</a> > Report for repo {{ repo.name }}</h1>

<p>
    <table class="mitre">
        <tr>
            <th>Name</th>
            <td>{{ repo.name }}</td>
        </tr>
        <tr>
            <th>URL</th>
            <td><a href="{{ repo.url }}" target="_blank">{{ repo.url }}</a></td>
        </tr>
        <tr>
            <th>Nb analytics</th>
            <td>{{ nb_analytics }} analytics ({{ nb_analytics_valid }} valid, {{ nb_analytics_errors }} with errors)</td>
        </tr>
    </table>
</p>

<div id="tabs">
    <ul>
        <li><a href="#tab_valid">Valid analytics ({{ nb_analytics_valid }})</a></li>
        <li><a href="#tab_errors">Analytics with errors ({{ nb_analytics_errors }})</a></li>
    </ul>

    <div id="tab_valid">
        <table class="mitre">
            <tr>
                <th>Name</th>
                <th>Infos</th>
            </tr>
            {% for analytic in analytics %}
                {% if not analytic.errors %}
                    <tr>
                        <td><a href="{{ analytic.url }}" target="_blank">{{ analytic.name }}</a></td>
                        <td>
                            {% for info in analytic.infos %}
                                {% if info|is_dict %}
                                    {% for f, i in info.items %}
                                        <li><strong>{{ f }}</strong>: {% for m in i %}{{ m }}{% endfor %}</li>
                                    {% endfor %}
                                {% else %}
                                    <li>{{ info }}</li>
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>

    <div id="tab_errors">
        <table class="mitre">
            <tr>
                <th>Name</th>
                <th>Errors</th>
            </tr>
            {% for analytic in analytics %}
                {% if analytic.errors %}
                    <tr>
                        <td><a href="{{ analytic.url }}" target="_blank">{{ analytic.name }}</a></td>
                        <td>
                            {% for error in analytic.errors %}
                                {% if error|is_dict %}
                                    {% for f, e in error.items %}
                                        <li><strong>{{ f }}</strong>: {% for m in e %}{{ m }}{% endfor %}</li>
                                    {% endfor %}
                                {% else %}
                                    <li>{{ error }}</li>
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>

</div>

<script type="text/javascript" nonce="jg6kl5z3v2">
	$(document).ready(function() {
		$( "#tabs" ).tabs();
	});
</script>

{% endblock %}
