.container_widgets {
  display: flex;
  width: 100%;
}

div.widget_number {
    display: grid;
    place-items: center; /* Centers both horizontally and vertically */
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-left: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

div.widget_number img {
    width: 100px;
    height: auto; /* Maintains aspect ratio */
}

div.widget_number h3 {
    font-size: 1em; /*0.7em*/
    margin-bottom: 10px;
    text-align: center;
    color: #858383;
}

p.num {
    font-size: 2.5em;
    text-align: center;
    font-weight: bold;
}

p.num a {
    text-decoration: none;
    color: #333;
}

div.widget_chart {
    display: grid;
    place-items: center; /* Centers both horizontally and vertically */

    width: 460px;
    height: 300px;

    margin-top: 20px;
    margin-left: 20px;
    padding: 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

div.chartContainer {
    width: 450px; /* div.widget_chart - 10 */
    height: 290px; /* div.widget_chart - 10 */
    padding: 0px;
}