/* Basic styles for the menu */
#contextMenu {
	display: none;
	position: absolute;
	background-color: #fff;
	border: 1px solid #ccc;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	z-index: 1000;
}
#contextMenu a {
	display: block;
	padding: 10px;
	text-decoration: none;
	color: #333;
}
#contextMenu a:hover {
	background-color: #f0f0f0;
}
a.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.5;
}

.expandable-container {
  overflow: hidden;
}
div#container-cols {
  display: flex;
  gap: 20px;
}
.expandable-content {
  max-height: 100px;
  overflow: hidden;
  transition: max-height 0.3s ease;
}
.expandable-container.expanded .expandable-content {
  max-height: 1000px; /* large enough to show all content */
}
.toggle-button {
  text-align: center;
  cursor: pointer;
  background: #fafafa; /*#f0f0f0;*/
  padding: 2px;
  display: none; /* Hidden by default */
}

.separator {
  width: 1px;
  background-color: #eee;
}
.button {
  font: bold 13px Arial;
  text-decoration: none;
  color: #417690; /*#21c488;*/
  padding: 2px 6px 2px 6px;
  border: solid 1px #417690; /*#21c488;*/
	border-radius: 8px;
}
#col3 li {
  list-style: none;
  padding-left: 0px;
  margin-left: 0; 
}