.container_trend {
  display: flex;
  width: 100%;
}

.charts_left {
  flex: 1; /* Takes up remaining space */
}

.charts_right {
  width: 700px; /* Fixed width */
}
.charts_right_tab {
  width: 300px; /* Fixed width */
}



.chartContainer {
	height: 270px;
}
.chartContainer_small {
	height: 150px;
}

div.progress {
	float:right;
}
.buttonred {
  font: bold 13px Arial;
  text-decoration: none;
  color: #ff0000;
  padding: 2px 6px 2px 6px;
  border: solid 1px #ff0000;
	border-radius: 8px;
}

div.paragraph {
	margin-top: 30px;
}

h2 {
	font-size: 10pt;
}
pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
