table, th, td {
	border: solid 1px #ccc;
	border-collapse: collapse;
}
td {
	text-align:right;
}
td.red {
	background:#f28563;
	color:#fff;
}
.w25 {
	float:left;
	width:25%;
}
.m10 {
	margin:10px;
}
.highlight_yellow {
	background:#fffbb5;
}

.charts_left {
	float:left;
	width:50%;
}
.charts_right {
	float:right;
	width:50%;
}
.clear {
	clear: both;
}
#chartContainer_runtime, #chartContainer_count, #chartContainer_endpoints {
	height: 270px;
}
#chartContainer_c1, #chartContainer_c2, #chartContainer_c3 {
	height: 270px;
}

div.progress {
	float:right;
}
.buttonred {
  font: bold 13px Arial;
  text-decoration: none;
  color: #ff0000;
  padding: 2px 6px 2px 6px;
  border: solid 1px #ff0000;
	border-radius: 8px;
}
