<h1>This is the review {{ analytic_id }}</h1>

<p>This analytic has been running for more than 2 weeks or has been last reviewed more than 2 weeks ago and therefore needs a review.</p>

<p>What action do you want to take?</p>

<input type="text" name="comment" id="review_comment" />
<button>Need to be updated</button>
<button>Keep it running</button>
<button>Keep and lock analytic</button>

<h2>Review history</h2>
<table>
    <tr>
        <td>2025-07-22</td>
        <td>Keep</td>
    </tr>
    <tr>
        <td>2025-07-22</td>
        <td>Keep</td>
    </tr>
    <tr>
        <td>2025-07-22</td>
        <td>Keep</td>
    </tr>
    <tr>
        <td>2025-07-22</td>
        <td>Keep</td>
    </tr>
    <tr>
        <td>2025-07-22</td>
        <td>Keep</td>
    </tr>
</table>