{% load qm_extras %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/review.css">
        <link rel="stylesheet" type="text/css" href="/static/css/repos.css">
        <script src="/static/js/htmx.min.js"></script>
    </head>
    <body>
        {% if analytic.status == 'REVIEW' %}
            <p>This analytic has been running for {{ days_before_review }} days with the 'published' status and is pending for review.</p>
            <form method="post">
                {% csrf_token %}
                <table>{{ form.as_p }}</table>
                <button hx-post="/review/{{ analytic.id }}/" hx-target="#formconfirmation_{{ analytic.id }}">Submit Review</button>
            </form>
            <div id="formconfirmation_{{ analytic.id }}" class="formconfirmation"></div>
        {% else %}
            <p><b>Next review date:</b> {{ analytic.next_review_date }}</p>
        {% endif %}

        <h2>Review history</h2>
        {% if reviews %}
            <table class="review">
                {% for review in reviews %}
                    <tr>
                        <td>{{ review.date|date:"M. j, Y" }}</td>
                        <td>{{ review.reviewer }}</td>
                        <td><b>{{ review.decision|get_review_label }}</b></td>
                        <td>{{ review.comments }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>No review yet.</p>
        {% endif %}
    </body>
</html>
