{% load qm_extras %}
<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="htmx-config" content='{"includeIndicatorStyles": false}'>
	<link rel="stylesheet" href="/static/fontawesome/all.min.css" />
	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/static/css/base.css" />
	<link rel="stylesheet" href="/static/toastr/toastr.min.css" />
	{% block style %}{% endblock %}

    <script src="/static/jquery/jquery.min.js"></script>
	<script src="/static/js/htmx.min.js"></script>
	<script src="/static/toastr/toastr.js"></script>
	{% block js %}{% endblock %}
	
	{{ redirect_to_login_immediately }}
</head>
<body>

<!-- Notifications container -->
<div id="notifications" 
		hx-get="/notifications/get_notifications/" 
		hx-trigger="load, every 10s" 
		hx-target="#notifications" 
		hx-swap="none">
	<!-- Notifications will be dynamically injected here -->
</div>

<!-- contextual help marker-->
<a href="{{ request.get_full_path|gotodoc }}" class="help-marker" target="_blank" title="View help documentation">?</a>

<section>
    <div class="rt-container">
		<div class="col-rt-12">
			<div class="Scriptcontent">
				<div id="container">
					<nav>
						<ul>
							<li><a class="deephunter" href="#">DeepHunter<span class="blinking-cursor">_</span></a></li>

							<li><a class="{{ request.path|isactiveurl:"/" }}" href="/">Dashboards</a></li>

							<li><a href="#">Analytics</a>
							<ul>
								{% if perms.qm.view_analytic %}<li><a class="{{ request.path|isactiveurl:"/qm/listanalytics/" }}" href="/qm/listanalytics/">List analytics</a></li>{% endif %}
								{% if perms.qm.add_analytic %}<li><a class="{{ request.path|isactiveurl:"/admin" }}" href="/admin/qm/analytic/add/">Create analytic</a></li>{% endif %}
								{% if perms.qm.view_savedsearch %}<li><a class="{{ request.path|isactiveurl:"/qm/saved_searches/" }}" href="/qm/saved_searches/">Saved searches</a></li>{% endif %}
							</ul>        
							</li>

							{% if perms.qm.view_timeline %}<li><a class="{{ request.path|isactiveurl:"/qm/timeline/" }}" href="/qm/timeline/">Timeline</a></li>{% endif %}
							{% if perms.qm.view_netview %}<li><a class="{{ request.path|isactiveurl:"/qm/netview/" }}" href="/qm/netview/">Netview</a></li>{% endif %}

							{% if perms.qm.view_reports %}
								<li><a href="#">Reports</a>
								<ul>
									{% if perms.qm.view_campaign %}<li><a class="{{ request.path|isactiveurl:"/reports/campaigns_stats/" }}" href="/reports/campaigns_stats/">Campaigns stats</a></li>{% endif %}
									{% if perms.qm.view_campaign %}<li><a class="{{ request.path|isactiveurl:"/reports/analytics_perfs" }}" href="/reports/analytics_perfs/">Analytics perfs</a></li>{% endif %}
									{% if perms.qm.view_endpoint %}<li><a class="{{ request.path|isactiveurl:"/reports/endpoints" }}" href="/reports/endpoints/">Endpoints in campaigns</a></li>{% endif %}
									{% if perms.qm.view_campaign %}<li><a class="{{ request.path|isactiveurl:"/reports/highest_weighted_score" }}" href="/reports/highest_weighted_score/">Highest weighted score</a></li>{% endif %}
									{% if perms.qm.view_endpoint %}<li><a class="{{ request.path|isactiveurl:"/reports/endpoints_most_analytics" }}" href="/reports/endpoints_most_analytics/">Endpoints w/ most analytics</a></li>{% endif %}
									{% if perms.qm.view_analytic %}<li><a class="{{ request.path|isactiveurl:"/reports/mitre/" }}" href="/reports/mitre/">Current MITRE coverage</a></li>{% endif %}
									{% if perms.qm.view_analytic %}<li><a class="{{ request.path|isactiveurl:"/reports/query_error/" }}" href="/reports/query_error/">Analytics with errors</a></li>{% endif %}
									{% if perms.qm.view_analytic %}<li><a class="{{ request.path|isactiveurl:"/reports/rare_occurrences/" }}" href="/reports/rare_occurrences/">Rare occurrences</a></li>{% endif %}
									<li><a class="{{ request.path|isactiveurl:"/reports/archived_analytics/" }}" href="/admin/qm/analytic/?status__exact=ARCH">Archived analytics</a></li>
									{% if perms.qm.view_review %}<li><a class="{{ request.path|isactiveurl:"/reports/upcoming-analytic-reviews/" }}" href="/reports/upcoming-analytic-reviews/">Upcoming Analytic Reviews</a></li>{% endif %}
								</ul>
								</li>
							{% endif %}

							{% if perms.extensions.view_extensions %}
								<li><a href="#">Tools</a>
								<ul>
									<li><a class="{{ request.path|isactiveurl:"/extensions/vthashchecker/" }}" href="/extensions/vthashchecker/">VirusTotal Hash Checker</a></li>
									<li><a class="{{ request.path|isactiveurl:"/extensions/vtipchecker/" }}" href="/extensions/vtipchecker/">VirusTotal IP Checker</a></li>
									<li><a class="{{ request.path|isactiveurl:"/extensions/malwarebazaarhashchecker/" }}" href="/extensions/malwarebazaarhashchecker/">MalwareBazaar Hash Check</a></li>
									<li><a class="{{ request.path|isactiveurl:"/extensions/loldriverhashchecker/" }}" href="/extensions/loldriverhashchecker/">LOL Driver Hash Checker</a></li>
									<li><a class="{{ request.path|isactiveurl:"/extensions/whois/" }}" href="/extensions/whois/">Whois</a></li>
								</ul>        
								</li>
							{% endif %}

							<li><a href="#">Admin</a>
							<ul>
								<li><a class="{{ request.path|isactiveurl:"/admin" }}" href="/admin">Admin interface</a></li>
								{% if perms.qm.view_campaign %}<li><a class="{{ request.path|isactiveurl:"/qm/managecampaigns" }}" href="/qm/managecampaigns">Manage campaigns</a></li>{% endif %}
								{% if perms.repos.view_repo %}<li><a class="{{ request.path|isactiveurl:"/repos/listrepos/" }}" href="/repos/listrepos/">Manage repos</a></li>{% endif %}
								{% if perms.qm.view_tasksstatus %}<li><a class="{{ request.path|isactiveurl:"/config/running-tasks/" }}" href="/config/running-tasks/">Running tasks</a></li>{% endif %}
								<li><a class="{{ request.path|isactiveurl:"/config/deephunter-settings/" }}" href="/config/deephunter-settings/">Settings</a></li>
							</ul> 
							</li>

							<li><a href="#">Help</a>
							<ul>
								<li><a target="_blank" href="https://deephunter.readthedocs.io/en/latest/">Documentation</a></li>
								<li><a class="{{ request.path|isactiveurl:"/qm/about/" }}" href="/qm/about/">About</a></li>
								<li><a target="_blank" href="https://github.com/sebastiendamaye/deephunter/issues/new/choose">Raise an issue</a></li>
							</ul>
							</li>
							
							<li><a href="/logout">Log out</a></li>
							<li>
								<a href="/notifications" class="iconClass">
									<i class="fa-solid fa-bell"></i>
									<span class="badge badge-light" hx-get="/notifications/get_number_notifications/" hx-trigger="load, every 10s"></span>
								</a>
							</li>

						</ul>
					</nav>
				</div>
    		</div>
		</div>
    </div>
</section>


{% block body %}{% endblock %}


<script nonce="k0bc3z4fg1">
	document.addEventListener('DOMContentLoaded', function() {
		// Initialize Toastr with default options (optional)
		toastr.options = {
			"closeButton": true,
			"debug": false,
			"newestOnTop": true,
			"progressBar": true,
			"positionClass": "toast-top-right", // Top right corner
			"preventDuplicates": true,
			"showDuration": "300", // Duration for showing the toast
			"hideDuration": "1000", // Duration for hiding the toast
			"timeOut": "5000", // Time before the toast disappears (5 seconds)
			"extendedTimeOut": "1000"
		};
	});

	let shownNotifications = new Set();

	document.body.addEventListener('htmx:afterRequest', function(evt) {
		if (evt.detail.target.id === "notifications") {
			try {
				let data = JSON.parse(evt.detail.xhr.responseText);
				if (data.notifications) {
					data.notifications.forEach(function(n) {
						if (!shownNotifications.has(n.id)) {
							toastr[n.level](n.message);
							shownNotifications.add(n.id);
						}
					});
				}
			} catch (e) {
				// Not JSON, ignore
				//console.log(e);
			}
		}
	});

</script>

</body>
</html>
