{% extends "base.html" %}
{% load qm_extras %}

{% block style %}
	<link rel="stylesheet" href="/static/css/stats.css" />
	<link rel="stylesheet" href="/static/css/timeline.css" />
	<link href="/static/vis-timeline/styles/vis-timeline-graph2d.min.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="/static/jquery-ui/jquery-ui.min.css" />
{% endblock %}
{% block js %}
	<script src="/static/jquery-ui/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/static/vis-timeline/standalone/umd/vis-timeline-graph2d.min.js"></script>
{% endblock %}

{% block body %}
<h1>Endpoint timeline investigation</h1>
<form action="" method="get">
	{% csrf_token %}
	<div>
		<input name="hostname" type="text" placeholder="Endpoint name" value="{{ hostname }}">
		{% if hostname %}[<a href="/qm/netview?hostname={{ hostname }}" target="_blank">Send to Netview</a>]{% endif %}
	</div>
</form>

{% if hostname %}
	<div id="tabs">

		<ul>
			<li><a href="#timeline" hx-get="/qm/tl_timeline/{{ hostname }}/" hx-target="#timeline" hx-trigger="load"><span>TIMELINE</span></a></li>
			<li><a href="#hostuser" hx-get="/qm/tl_host/{{ hostname }}/" hx-target="#hostuser"><span>HOST/USER</span></a></li>
			<li><a href="#activedirectory" hx-get="/qm/tl_ad/{{ hostname }}/" hx-target="#activedirectory"><span>ACTIVE DIRECTORY</span></a></li>
			<li><a href="#appinventory" hx-get="/qm/tl_apps/{{ hostname }}/" hx-target="#appinventory"><span>APP INVENTORY</span></a></li>
		</ul>
		<div id="timeline"><img alt="Result loading..." src="/static/images/bars.svg"/></div>
		<div id="hostuser"><img alt="Result loading..." src="/static/images/bars.svg"/></div>
		<div id="activedirectory"><img alt="Result loading..." src="/static/images/bars.svg"/></div>
		<div id="appinventory"><img alt="Result loading..." src="/static/images/bars.svg"/></div>

	</div>

	<script type="text/javascript" nonce="jc3vgs67dm">
		$( "#tabs" ).tabs();
	</script>

{% endif %}
{% endblock %}
