{% load markup_tags %}
<!DOCTYPE HTML>
<html>
<head>
	<link rel="stylesheet" href="/static/css/trend.css" />
	<script src="/static/jquery/jquery.min.js"></script>
	<script src="/static/canvasjs/jquery.canvasjs.min.js"></script>
	<script src="/static/js/htmx.min.js"></script>
</head>
<body>

{% if tab == 0 %}<h1>Data for {{ analytic.name }} ({{ analytic.connector.name }})</h1>{% endif %}

<div class="container_trend">

	<div class="charts_left" hx-get="/qm/{{ analytic.id }}/trend-graph/{{ tab }}/" hx-trigger="load, every 15s">
        <img alt="loading..." src="/static/images/bars.svg"/>
	</div>

	<div class="charts_right{% if tab == 1 %}_tab{% endif %}">
		<div class="paragraph">
			{% if tab == 0 %}
				[<a href="/admin/qm/analytic/{{ analytic.id }}/change/" target="_blank">edit in admin</a>]
				[<a href="/admin/qm/endpoint/?snapshot__analytic__name={{ analytic.name }}" target="_blank">see endpoints</a>]
			{% endif %}
			{% if perms.qm.change_snapshot %}<div class="progress"><a hx-get="/qm/{{ analytic.id }}/progress/" hx-trigger="load, every 3s"></a></div>&nbsp;{% endif %}
			{% if perms.qm.delete_snapshot %}<div class="progress"><button hx-get="/qm/{{ analytic.id }}/deletestats/" class="buttonred">Delete stats</button></div>{% endif %}

		</div>
		<div class="paragraph"><b>#hits z-score threshold:</b> {{ analytic.anomaly_threshold_count }}</div>
		<div><b>#endpoints z-score threshold:</b> {{ analytic.anomaly_threshold_endpoints }}</div>
		<div class="paragraph">
			<b>Last time seen: </b>{% if analytic.last_time_seen %}{{ analytic.last_time_seen }}{% else %}-{% endif %}
			<br /><b>Distinct endpoints: </b>{{ distinct_endpoints }}
			<br /><b>Top 10 endpoints</b>:
			{% if endpoints %}
				<ul>
					{% for endpoint in endpoints|slice:":10" %}
						<li><a href="/qm/timeline?hostname={{ endpoint.hostname }}" target="_blank">{{ endpoint.hostname }}</a></li>
					{% endfor %}
					{% if distinct_endpoints > 10 %}<li>...</li>{% endif %}
				</ul>
			{% endif %}
		</div>
		{% if tab == 0 %}
			<div class="paragraph">
				<b>Description:</b><br />
				<p>{{ analytic.description|apply_markup:"markdown" }}</p>
			</div>
			<div class="paragraph">
				<b>Connector: </b>{{ analytic.connector.name }}
			</div>
			<div class="paragraph">
				<b>Query:</b><br />
				<pre>{{ analytic.query }}</pre>
			</div>
		{% endif %}
	</div>

</div>

</body>
</html>
