{% load markup_tags %}
<!DOCTYPE HTML>
<html>
<head>
<link rel="stylesheet" href="/static/css/trend.css" />
<script src="/static/jquery/jquery.min.js"></script>
<script src="/static/canvasjs/jquery.canvasjs.min.js"></script>
</head>
<body>

<h1>Data for {{ query }}</h1>
<div class="charts_left">
	<div id="chartContainer_runtime"></div>
	<div id="chartContainer_count"></div>
	<div id="chartContainer_endpoints"></div>
</div>

<div class="charts_right">
	<div class="paragraph">
		[<a href="/admin/qm/query/{{ query.id }}/change/" target="_blank">edit in admin</a>]
		[<a href="/admin/qm/endpoint/?snapshot__query__name={{ query.name }}" target="_blank">see endpoints</a>]
		{% if perms.qm.delete_campaign %}
			<div id="progress_{{ query.id }}" class="progress">...</div>&nbsp;
			<div class="progress"><a href="/{{ query.id }}/deletestats/" target="_blank" class="buttonred">Delete stats</a></div>
		{% endif %}

	</div>
	<div class="paragraph"><b>#hits z-score threshold:</b> {{ query.anomaly_threshold_count }}</div>
	<div><b>#endpoints z-score threshold:</b> {{ query.anomaly_threshold_endpoints }}</div>
	<div class="paragraph"><b>Distinct endpoints: </b>{{ distinct_endpoints }}
		<br /><b>Top 10 endpoints</b>:
		{% if endpoints %}
			<ul>
				{% for endpoint in endpoints|slice:":10" %}
					<li><a href="/timeline?hostname={{ endpoint.hostname }}" target="_blank">{{ endpoint.hostname }}</a></li>
				{% endfor %}
				{% if distinct_endpoints > 10 %}<li>...</li>{% endif %}
			</ul>
		{% endif %}
	</div>
	<div class="paragraph">
		<b>Description:</b><br />
		<p>{{ query.description|apply_markup:"markdown" }}</p>
	</div>
	<div class="paragraph">
		<b>Query:</b><br />
		<pre>{{ query.query }}</pre>
	</div>
</div>
<!--div class="clear"></div-->

<script nonce="jvfd35kaz9">
window.onload = function () {

	var options_runtime = {
		animationEnabled: false,
		axisX:{
			valueFormatString: "DD MMM"
		},
		toolTip:{
			shared:true
		},  
		legend:{
			cursor:"pointer",
			verticalAlign: "bottom",
			horizontalAlign: "left",
			dockInsidePlotArea: true,
			itemclick: toogleDataSeries
		},
		data: [
		{
			type: "line",
			showInLegend: true,
			name: "runtime (sec)",
			markerType: "square",
			xValueFormatString: "DD MMM, YYYY",
			color: "#2596be",
			yValueFormatString: "#,##0",
			dataPoints: [
				{% for s in stats %}
					{ x: new Date("{{ s.date|date:"Y-m-d" }}"), y: {{ s.runtime }} },
				{% endfor %}
			]
		}
		]
	};

	var options_count = {
		animationEnabled: false,
		axisX:{
			valueFormatString: "DD MMM",
			stripLines: [
				{% for s in stats %}
					{% if s.anomaly_alert_count %}
						{
							value:new Date("{{ s.date|date:"Y-m-d" }}"),
							thickness: 50,
							color:"#ff0000",
							opacity: .3
						},
					{% endif %}
				{% endfor %}
			]
		},
		toolTip:{
			shared:true
		},  
		legend:{
			cursor:"pointer",
			verticalAlign: "bottom",
			horizontalAlign: "left",
			dockInsidePlotArea: true,
			itemclick: toogleDataSeries
		},
		data: [
		{
			type: "line",
			showInLegend: true,
			name: "#hits",
			markerType: "square",
			xValueFormatString: "DD MMM, YYYY",
			color: "#2596be",
			yValueFormatString: "#,##0",
			dataPoints: [
				{% for s in stats %}
					{ x: new Date("{{ s.date|date:"Y-m-d" }}"), y: {{ s.hits_count }} },
				{% endfor %}
			]
		}
		]
	};

	var options_endpoints = {
		animationEnabled: false,
		axisX:{
			valueFormatString: "DD MMM",
			stripLines: [
				{% for s in stats %}
					{% if s.anomaly_alert_endpoints %}
						{
							value:new Date("{{ s.date|date:"Y-m-d" }}"),
							thickness: 50,
							color:"#ff0000",
							opacity: .3
						},
					{% endif %}
				{% endfor %}
			]
		},
		toolTip:{
			shared:true
		},  
		legend:{
			cursor:"pointer",
			verticalAlign: "bottom",
			horizontalAlign: "left",
			dockInsidePlotArea: true,
			itemclick: toogleDataSeries
		},
		data: [
		{
			type: "line",
			showInLegend: true,
			name: "#endpoints",
			markerType: "square",
			xValueFormatString: "DD MMM, YYYY",
			color: "#2596be",
			yValueFormatString: "#,##0",
			dataPoints: [
				{% for s in stats %}
					{ x: new Date("{{ s.date|date:"Y-m-d" }}"), y: {{ s.hits_endpoints }}, click: function(e) { open('/events/{{ query.id }}/{{ s.date|date:"Y-m-d" }}/', '_blank'); } },
				{% endfor %}
			]
		}]
	};


	$("#chartContainer_runtime").CanvasJSChart(options_runtime);
	$("#chartContainer_count").CanvasJSChart(options_count);
	$("#chartContainer_endpoints").CanvasJSChart(options_endpoints);

	function toogleDataSeries(e){
		if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
			e.dataSeries.visible = false;
		} else{
			e.dataSeries.visible = true;
		}
		e.chart.render();
	}
}

</script>

{% if perms.qm.delete_campaign %}
<script type="text/javascript" nonce="jg6kl5z3v2">
$(document).ready(function() {
	setInterval(function() {
		$("#progress_{{ query.id }}").load('/{{ query.id }}/progress/')
	}, 2000);
});
</script>
{% endif %}

</body>
</html>
