{% load markup_tags %}
<!DOCTYPE HTML>
<html>
<head>
	<link rel="stylesheet" href="/static/css/trend.css" />
	<script src="/static/jquery/jquery.min.js"></script>
	<script src="/static/canvasjs/jquery.canvasjs.min.js"></script>
	<script src="/static/js/htmx.min.js"></script>
</head>
<body>

{% if tab == 0 %}<h1>Data for {{ analytic.name }} ({{ analytic.connector.name }})</h1>{% endif %}

<div class="container_trend">

	<div class="charts_left">
		<div class="chartContainer{% if tab == 1 %}_small{% endif %}" id="chartContainer_runtime_{{ analytic.id }}"></div>
		<div class="chartContainer{% if tab == 1 %}_small{% endif %}" id="chartContainer_count_{{ analytic.id }}"></div>
		<div class="chartContainer{% if tab == 1 %}_small{% endif %}" id="chartContainer_endpoints_{{ analytic.id }}"></div>
	</div>

	<div class="charts_right{% if tab == 1 %}_tab{% endif %}">
		<div class="paragraph">
			{% if tab == 0 %}
				[<a href="/admin/qm/analytic/{{ analytic.id }}/change/" target="_blank">edit in admin</a>]
				[<a href="/admin/qm/endpoint/?snapshot__analytic__name={{ analytic.name }}" target="_blank">see endpoints</a>]
			{% endif %}
			{% if perms.qm.delete_campaign %}
				<div class="progress"><a hx-get="/{{ analytic.id }}/progress/" hx-trigger="load, every 3s"></a></div>&nbsp;
				<div class="progress"><button hx-get="/{{ analytic.id }}/deletestats/" class="buttonred">Delete stats</button></div>
			{% endif %}

		</div>
		<div class="paragraph"><b>#hits z-score threshold:</b> {{ analytic.anomaly_threshold_count }}</div>
		<div><b>#endpoints z-score threshold:</b> {{ analytic.anomaly_threshold_endpoints }}</div>
		<div class="paragraph"><b>Distinct endpoints: </b>{{ distinct_endpoints }}
			<br /><b>Top 10 endpoints</b>:
			{% if endpoints %}
				<ul>
					{% for endpoint in endpoints|slice:":10" %}
						<li><a href="/qm/timeline?hostname={{ endpoint.hostname }}" target="_blank">{{ endpoint.hostname }}</a></li>
					{% endfor %}
					{% if distinct_endpoints > 10 %}<li>...</li>{% endif %}
				</ul>
			{% endif %}
		</div>
		{% if tab == 0 %}
			<div class="paragraph">
				<b>Description:</b><br />
				<p>{{ analytic.description|apply_markup:"markdown" }}</p>
			</div>
			<div class="paragraph">
				<b>Connector: </b>{{ analytic.connector.name }}
			</div>
			<div class="paragraph">
				<b>Query:</b><br />
				<pre>{{ analytic.query }}</pre>
			</div>
		{% endif %}
	</div>

</div>

{% if perms.qm.delete_campaign %}
<script type="text/javascript" nonce="jg6kl5z3v2">
$(document).ready(function() {

	var options_runtime = {
		animationEnabled: false,
		axisX:{
			valueFormatString: "DD MMM"
		},
		toolTip:{
			shared:true
		},  
		legend:{
			cursor:"pointer",
			verticalAlign: "bottom",
			horizontalAlign: "left",
			dockInsidePlotArea: true
		},
		data: [
		{
			type: "line",
			showInLegend: true,
			name: "runtime (sec)",
			markerType: "square",
			xValueFormatString: "DD MMM, YYYY",
			color: "#2596be",
			yValueFormatString: "#,##0",
			dataPoints: [
				{% for s in stats %}
					{ x: new Date("{{ s.date|date:"Y-m-d" }}"), y: {{ s.runtime }} },
				{% endfor %}
			]
		}
		]
	};

	var options_count = {
		animationEnabled: false,
		axisX:{
			valueFormatString: "DD MMM",
			stripLines: [
				{% for s in stats %}
					{% if s.anomaly_alert_count %}
						{
							value:new Date("{{ s.date|date:"Y-m-d" }}"),
							thickness: 50,
							color:"#ff0000",
							opacity: .3
						},
					{% endif %}
				{% endfor %}
			]
		},
		toolTip:{
			shared:true
		},  
		legend:{
			cursor:"pointer",
			verticalAlign: "bottom",
			horizontalAlign: "left",
			dockInsidePlotArea: true
		},
		data: [
		{
			type: "line",
			showInLegend: true,
			name: "#hits",
			markerType: "square",
			xValueFormatString: "DD MMM, YYYY",
			color: "#2596be",
			yValueFormatString: "#,##0",
			dataPoints: [
				{% for s in stats %}
					{ x: new Date("{{ s.date|date:"Y-m-d" }}"), y: {{ s.hits_count }}, click: function(e) { open('/events/{{ analytic.id }}/{{ s.date|date:"Y-m-d" }}/', '_blank'); } },
				{% endfor %}
			]
		}
		]
	};

	var options_endpoints = {
		animationEnabled: false,
		axisX:{
			valueFormatString: "DD MMM",
			stripLines: [
				{% for s in stats %}
					{% if s.anomaly_alert_endpoints %}
						{
							value:new Date("{{ s.date|date:"Y-m-d" }}"),
							thickness: 50,
							color:"#ff0000",
							opacity: .3
						},
					{% endif %}
				{% endfor %}
			]
		},
		toolTip:{
			shared:true
		},  
		legend:{
			cursor:"pointer",
			verticalAlign: "bottom",
			horizontalAlign: "left",
			dockInsidePlotArea: true
		},
		data: [
		{
			type: "line",
			showInLegend: true,
			name: "#endpoints",
			markerType: "square",
			xValueFormatString: "DD MMM, YYYY",
			color: "#2596be",
			yValueFormatString: "#,##0",
			dataPoints: [
				{% for s in stats %}
					{ x: new Date("{{ s.date|date:"Y-m-d" }}"), y: {{ s.hits_endpoints }}, click: function(e) { open('/events/{{ analytic.id }}/{{ s.date|date:"Y-m-d" }}/', '_blank'); } },
				{% endfor %}
			]
		}]
	};

	$("#chartContainer_runtime_{{ analytic.id }}").CanvasJSChart(options_runtime);
	$("#chartContainer_count_{{ analytic.id }}").CanvasJSChart(options_count);
	$("#chartContainer_endpoints_{{ analytic.id }}").CanvasJSChart(options_endpoints);

});
</script>
{% endif %}

</body>
</html>
