# m h  dom mon dow   command
0  1 * * *      /data/deephunter/qm/scripts/orchestrator.sh
0  3 * * *      /data/deephunter/qm/scripts/optimize_db.sh
0  4 * * *      /data/deephunter/qm/scripts/backup.sh