<div id="form-container_{{ analytic.id }}">
    {% if analytic.status == 'REVIEW' %}
        <p>This analytic has been running for {{ days_before_review }} days with the 'published' status and is pending for review.</p>
        <form class="form" method="POST" 
                hx-post="{% url 'submit_review' analytic.id %}" 
                hx-target="#form-container_{{ analytic.id }}" 
                hx-swap="outerHTML">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
    {% else %}
        <p>This analytic is not pending review. Next review date: {{ analytic.next_review_date }}</p>
    {% endif %}
</div>