<table class="mitre">
    <tr>
        <th>Actions</th>
        <th>Name</th>
        <th>Description</th>
        <th>Search</th>
        <th>Public</th>
        <th>Locked</th>
        <th>Created By</th>
        <th>Publication Date</th>
        <th>Update Date</th>
    </tr>
    {% for search in saved_searches %}
        <tr>
            <td>
                <a href="/qm/listanalytics?{{ search.search }}" class="button">execute</a>
                {% if not search.is_locked %}
                    <a href="/admin/qm/savedsearch/{{ search.id }}/change/" class="button">update</a>
                    <a href="/admin/qm/savedsearch/{{ search.id }}/delete/" class="buttonred">delete</a>
                {% endif %}
            </td>
            <td>{{ search.name }}</td>
            <td>{{ search.description }}</td>
            <td>{{ search.search }}</td>
            <td class="acenter">{% if search.is_public %}<img src="/static/admin/img/icon-yes.svg" />{% else %}<img src="/static/admin/img/icon-no.svg" />{% endif %}</td>
            <td class="acenter">{% if search.is_locked %}<img src="/static/admin/img/icon-yes.svg" />{% else %}<img src="/static/admin/img/icon-no.svg" />{% endif %}</td>
            <td class="acenter">{% if search.created_by %}{{ search.created_by }}{% else %}-{% endif %}</td>
            <td>{{ search.pub_date }}</td>
            <td>{{ search.update_date }}</td>
        </tr>
    {% endfor %}
</table>
