{% if perms.qm.change_analytic_status %}
    <button class="{{ analytic.status|lower }} btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        {{ analytic.status }}
    </button>
    <ul class="dropdown-menu">
        {% for k,v in statuses.items %}
            <li><a class="dropdown-item"
                hx-get="/qm/changestatus/{{ analytic.id }}/{{ k|upper }}/"
                hx-target="#analytic_status_{{ analytic.id }}">{{ v }}</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <div class="{{ analytic.status|lower }}">{{ analytic.status }}</div>
{% endif %}