{% if machinedetails.computerName %}
	<ul>
		<li><b>Hostname:</b> {{ machinedetails.computerName }}</li>
		<li><b>Site:</b> {{ machinedetails.siteName }}</li>
		<li><b>OS:</b> {{ machinedetails.osName }} ({{ machinedetails.osArch}})</li>
		<li><b>Username:</b> {{ username }}</li>
		<li><b>user:</b> {{ user_name }}</li>
		<li><b>Job Title:</b> {{ job_title }}</li>
		<li><b>Business Unit:</b> {{ business_unit }}</li>
		<li><b>Location:</b> {{ location }}</li>
	</ul>
{% else %}
	<div class="alert alert-info d-flex flex-row">
		<div class="padright20"><i class="fas fa-fw fa-info-circle mr-3 mt-1"></i></div>
		<div class="notification-message">
			The endpoint hasn't been found.
		</div>
	</div>
{% endif %}
