{% extends "base.html" %}

{% block style %}
    <link rel="stylesheet" href="/static/css/dashboards.css" />
{% endblock %}
{% block js %}
    <script src="/static/canvasjs/jquery.canvasjs.min.js"></script>
    <script src="/static/js/htmx.min.js"></script>
    <script src="/static/jquery_sparkline/jquery.sparkline.min.js"></script>
{% endblock %}

{% block body %}
{% if perms.dashboard.view_dashboard %}

<div class="container_widgets">

    {% if perms.qm.view_analytic %}
    <div class="widget_number" hx-get="/dashboard/db_totalnumberanalytics/" hx-trigger="load, every 10s">
        <img alt="Result loading..." src="/static/images/bars.svg"/>
    </div>
    {% endif %}

    {% if perms.qm.view_analytic %}
    <div class="widget_number" hx-get="/dashboard/db_analyticsrunintodaycampaign/" hx-trigger="load, every 10s">
        <img alt="Result loading..." src="/static/images/bars.svg"/>
    </div>
    {% endif %}

    {% if perms.qm.view_analytic %}
    <div class="widget_number" hx-get="/dashboard/db_analyticsmatchingintodaycampaign/" hx-trigger="load, every 10s">
        <img alt="Result loading..." src="/static/images/bars.svg"/>
    </div>
    {% endif %}

    {% if perms.qm.view_endpoint %}
    <div class="widget_number" hx-get="/dashboard/db_highestweightedscoretoday/" hx-trigger="load, every 10s">
        <img alt="Result loading..." src="/static/images/bars.svg"/>
    </div>
    {% endif %}

    {% if perms.qm.view_endpoint %}
    <div class="widget_number" hx-get="/dashboard/db_highest-weighted-score-all-campaigns/" hx-trigger="load, every 10s">
        <img alt="Result loading..." src="/static/images/bars.svg"/>
    </div>
    {% endif %}

    {% if perms.qm.view_endpoint %}
    <div class="widget_number" hx-get="/dashboard/db_topendpointdistinctanalytics/" hx-trigger="load, every 10s">
        <img alt="Result loading..." src="/static/images/bars.svg"/>
    </div>
    {% endif %}

</div>

<div class="container_widgets">

    {% if perms.qm.view_analytic %}
    <div class="widget_number" hx-get="/dashboard/db_analyticswitherrors/" hx-trigger="load, every 10s">
        <img alt="Result loading..." src="/static/images/bars.svg"/>
    </div>
    {% endif %}

    {% if perms.qm.view_analytic %}
    <div class="widget_number" hx-get="/dashboard/db_analyticstoreview/" hx-trigger="load, every 10s">
        <img alt="Result loading..." src="/static/images/bars.svg"/>
    </div>
    {% endif %}

    {% if perms.qm.view_analytic %}
    <div class="widget_number" hx-get="/dashboard/db_analyticspending/" hx-trigger="load, every 10s">
        <img alt="Result loading..." src="/static/images/bars.svg"/>
    </div>
    {% endif %}

    {% if perms.qm.view_analytic %}
    <div class="widget_number" hx-get="/dashboard/db_auto-disabled-analytics/" hx-trigger="load, every 10s">
        <img alt="Result loading..." src="/static/images/bars.svg"/>
    </div>
    {% endif %}

    {% if perms.qm.view_analytic %}
    <div class="widget_number" hx-get="/dashboard/db_archivedanalytics/" hx-trigger="load, every 10s">
        <img alt="Result loading..." src="/static/images/bars.svg"/>
    </div>
    {% endif %}

    {% if perms.qm.view_tasksstatus %}
    <div class="widget_number" hx-get="/dashboard/db_runningtasks/" hx-trigger="load, every 10s">
        <img alt="Result loading..." src="/static/images/bars.svg"/>
    </div>
    {% endif %}

</div>

<div class="container_widgets">

    {% if perms.qm.view_analytic %}
    <div class="widget_chart" hx-get="/dashboard/db_analyticsbystatus/" hx-trigger="load, every 10s">
        <img alt="Result loading..." width="100" src="/static/images/bars.svg"/>
    </div>
    {% endif %}

    {% if perms.qm.view_analytic %}
    <div class="widget_chart" hx-get="/dashboard/db_analyticsbyconnector/" hx-trigger="load, every 10s">
        <img alt="Result loading..." width="100" src="/static/images/bars.svg"/>
    </div>
    {% endif %}

    {% if perms.qm.view_analytic %}
    <div class="widget_chart" hx-get="/dashboard/db_analyticsbyuser/" hx-trigger="load, every 10s">
        <img alt="Result loading..." width="100" src="/static/images/bars.svg"/>
    </div>
    {% endif %}

</div>

<div class="container_widgets">

    {% if perms.qm.view_review %}
    <div class="widget_chart" hx-get="/dashboard/db_analytics-reviews-workload/" hx-trigger="load, every 10s">
        <img alt="Result loading..." width="100" src="/static/images/bars.svg"/>
    </div>
    {% endif %}

</div>

{% else %}
    <div class="padaround">
        <h2>You do not have permission to view this page.</h2>
        <p>Please contact your administrator if you believe this is an error.</p>
    </div>
{% endif %}

{% endblock %}
