<h3>Analytics by connector</h3>
<div id="analyticsByConnector_chartContainer" class="chartContainer"></div>
<script nonce="tB2h37v4d6">
    function clicklegenditem_analyticbyconnector(e) {
        window.location='/qm/listanalytics/?connectors='+e.dataPoint.id;
    }

    $(document).ready(function() {

        var chart = new CanvasJS.Chart("analyticsByConnector_chartContainer", {
            data: [{
                type: "doughnut",
                startAngle: 270,
                explodeOnClick: false,
                legendMarkerType: "square",
                showInLegend: true,
                legendText: "{name}: {y}",
                toolTipContent: "<b>{name}:</b> {y} (#percent%)",
                dataPoints: [
                    {% for connector in connector_breakdown %}
                        { y: {{ connector.count }}, name: "{{ connector.connector__name }}", id: "{{ connector.connector__id }}", click: function(e) { window.location='/qm/listanalytics/?connectors={{ connector.connector__id }}'; } },
                    {% endfor %}
                ]
            }],
            legend: {
                cursor: "pointer",
                itemclick: clicklegenditem_analyticbyconnector,
                horizontalAlign: 'right',
                verticalAlign: 'center',
                fontSize: 14,
                fontWeight: "normal",
                fontFamily: "Arial"
            }
        });
        
        chart.render();

    });
</script>
