{% load dashboard_extras %}
<div id="analyticsByStatus_chartContainer" class="chartContainer"></div>
<script nonce="klf4do97jh">
    function clicklegenditem_analyticbystatus(e) {
        window.location='/qm/listanalytics/?statuses='+e.dataPoint.status;
    }
    
    $(document).ready(function() {

        var chart = new CanvasJS.Chart("analyticsByStatus_chartContainer", {
            backgroundColor: "#f9f9f9",
            title:{
                text: "Analytics by status",
                fontSize: 17,
                fontColor: "#858383",
                fontWeight: "normal",
                fontFamily: "Arial",
                horizontalAlign: "center"
            },
            data: [{
                type: "doughnut",
                startAngle: 270,
                explodeOnClick: false,
                legendMarkerType: "square",
                showInLegend: true,
                legendText: "{name}: {y}",
                /*legendFontSize: 14,*/
                toolTipContent: "<b>{name}:</b> {y} (#percent%)",
                dataPoints: [
                    {% for status in status_breakdown %}
                        { y: {{ status.count }},
                        name: "{{ status.status|statuslabel }}",
                        color: "{{ status.status|statuscolor }}",
                        status: "{{ status.status }}",
                        click: function(e) { window.location='/qm/listanalytics/?statuses={{ status.status }}'; } },
                    {% endfor %}
                ]
            }],
            legend: {
                cursor: "pointer",
                itemclick: clicklegenditem_analyticbystatus,
                horizontalAlign: 'right',
                verticalAlign: 'center',
                fontSize: 14,
                fontWeight: "normal",
                fontFamily: "Arial"
            }
        });
        
        chart.render();

    });
</script>
