<h3>Analytics run in today's campaign</h3>
<div class="container_number">
    <div class="num"><a href="/qm/listanalytics/?run_daily=1">{{ campaign_today_nb_queries }}</a></div>
    {% if delta < 0 %}
        <div class="compare_minus"><i class="fa-solid fa-arrow-down"></i> {{ delta }}<br />(yesterday)</div>
    {% elif delta == 0 %}
        <div class="compare_plus"><i class="fa-solid fa-arrow-right"></i> +0<br />(yesterday)</div>
    {% else %}
        <div class="compare_plus"><i class="fa-solid fa-arrow-up"></i> +{{ delta }}<br />(yesterday)</div>
    {% endif %}
</div>
<div id="sparkline_analyticsrunintodaycampaign"></div>

<script type="text/javascript" nonce="hf7hgo1ilm">
    $(function() {		
        $('#sparkline_analyticsrunintodaycampaign').sparkline({{ sparkline }}, {'width': 150, height: '35px'}); //,  {type: 'bar', barColor: '#4f81bc'});
    });
</script>
